//----------------------------------------------------//
// FONTS                                              //
//----------------------------------------------------//
@font-face {
  font-family: 'helveticaneuecyr';
  src: url('../fonts/helvetica/medium/helveticaneuecyr-medium-webfont.eot');
  src: url('../fonts/helvetica/medium/helveticaneuecyr-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/helvetica/medium/helveticaneuecyr-medium-webfont.woff2') format('woff2'), url('../fonts/helvetica/medium/helveticaneuecyr-medium-webfont.woff') format('woff'), url('../fonts/helvetica/medium/helveticaneuecyr-medium-webfont.ttf') format('truetype'), url('../fonts/helvetica/medium/helveticaneuecyr-medium-webfont.svg#helveticaneuecyrmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helveticaneuecyr-bold';
  src: url('../fonts/helvetica/bold/helveticaneuecyr-bold-webfont.eot');
  src: url('../fonts/helvetica/bold/helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/helvetica/bold/helveticaneuecyr-bold-webfont.woff2') format('woff2'), url('../fonts/helvetica/bold/helveticaneuecyr-bold-webfont.woff') format('woff'), url('../fonts/helvetica/bold/helveticaneuecyr-bold-webfont.ttf') format('truetype'), url('../fonts/helvetica/bold/helveticaneuecyr-bold-webfont.svg#helveticaneuecyrbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helveticaneuecyr-light';
  src: url('../fonts/helvetica/light/helveticaneuecyr-light-webfont.eot');
  src: url('../fonts/helvetica/light/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/helvetica/light/helveticaneuecyr-light-webfont.woff2') format('woff2'), url('../fonts/helvetica/light/helveticaneuecyr-light-webfont.woff') format('woff'), url('../fonts/helvetica/light/helveticaneuecyr-light-webfont.ttf') format('truetype'), url('../fonts/helvetica/light/helveticaneuecyr-light-webfont.svg#helveticaneuecyrligh') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helveticaneuecyr-thin';
  src: url('../fonts/helvetica/thin/helveticaneuecyr-thin-webfont.eot');
  src: url('../fonts/helvetica/thin/helveticaneuecyr-thin-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/helvetica/thin/helveticaneuecyr-thin-webfont.woff2') format('woff2'), url('../fonts/helvetica/thin/helveticaneuecyr-thin-webfont.woff') format('woff'), url('../fonts/helvetica/thin/helveticaneuecyr-thin-webfont.ttf') format('truetype'), url('../fonts/helvetica/thin/helveticaneuecyr-thin-webfont.svg#helveticaneuecyrthin') format('svg');
  font-weight: normal;
  font-style: normal;
}