
$icon-arrow-back-black-name: 'icon-arrow-back-black';
$icon-arrow-back-black-x: 0px;
$icon-arrow-back-black-y: 293px;
$icon-arrow-back-black-offset-x: 0px;
$icon-arrow-back-black-offset-y: -293px;
$icon-arrow-back-black-width: 14px;
$icon-arrow-back-black-height: 14px;
$icon-arrow-back-black-total-width: 32px;
$icon-arrow-back-black-total-height: 780px;
$icon-arrow-back-black-image: '../img/sprite-icons.png';
$icon-arrow-back-black: (0px, 293px, 0px, -293px, 14px, 14px, 32px, 780px, '../img/sprite-icons.png', 'icon-arrow-back-black', );
$icon-arrow-back-dark-orange-name: 'icon-arrow-back-dark-orange';
$icon-arrow-back-dark-orange-x: 0px;
$icon-arrow-back-dark-orange-y: 237px;
$icon-arrow-back-dark-orange-offset-x: 0px;
$icon-arrow-back-dark-orange-offset-y: -237px;
$icon-arrow-back-dark-orange-width: 14px;
$icon-arrow-back-dark-orange-height: 14px;
$icon-arrow-back-dark-orange-total-width: 32px;
$icon-arrow-back-dark-orange-total-height: 780px;
$icon-arrow-back-dark-orange-image: '../img/sprite-icons.png';
$icon-arrow-back-dark-orange: (0px, 237px, 0px, -237px, 14px, 14px, 32px, 780px, '../img/sprite-icons.png', 'icon-arrow-back-dark-orange', );
$icon-arrow-back-orange-name: 'icon-arrow-back-orange';
$icon-arrow-back-orange-x: 0px;
$icon-arrow-back-orange-y: 167px;
$icon-arrow-back-orange-offset-x: 0px;
$icon-arrow-back-orange-offset-y: -167px;
$icon-arrow-back-orange-width: 14px;
$icon-arrow-back-orange-height: 14px;
$icon-arrow-back-orange-total-width: 32px;
$icon-arrow-back-orange-total-height: 780px;
$icon-arrow-back-orange-image: '../img/sprite-icons.png';
$icon-arrow-back-orange: (0px, 167px, 0px, -167px, 14px, 14px, 32px, 780px, '../img/sprite-icons.png', 'icon-arrow-back-orange', );
$icon-arrow-back-white-name: 'icon-arrow-back-white';
$icon-arrow-back-white-x: 0px;
$icon-arrow-back-white-y: 181px;
$icon-arrow-back-white-offset-x: 0px;
$icon-arrow-back-white-offset-y: -181px;
$icon-arrow-back-white-width: 14px;
$icon-arrow-back-white-height: 14px;
$icon-arrow-back-white-total-width: 32px;
$icon-arrow-back-white-total-height: 780px;
$icon-arrow-back-white-image: '../img/sprite-icons.png';
$icon-arrow-back-white: (0px, 181px, 0px, -181px, 14px, 14px, 32px, 780px, '../img/sprite-icons.png', 'icon-arrow-back-white', );
$icon-arrow-down-black-name: 'icon-arrow-down-black';
$icon-arrow-down-black-x: 0px;
$icon-arrow-down-black-y: 21px;
$icon-arrow-down-black-offset-x: 0px;
$icon-arrow-down-black-offset-y: -21px;
$icon-arrow-down-black-width: 12px;
$icon-arrow-down-black-height: 7px;
$icon-arrow-down-black-total-width: 32px;
$icon-arrow-down-black-total-height: 780px;
$icon-arrow-down-black-image: '../img/sprite-icons.png';
$icon-arrow-down-black: (0px, 21px, 0px, -21px, 12px, 7px, 32px, 780px, '../img/sprite-icons.png', 'icon-arrow-down-black', );
$icon-arrow-down-white-name: 'icon-arrow-down-white';
$icon-arrow-down-white-x: 0px;
$icon-arrow-down-white-y: 28px;
$icon-arrow-down-white-offset-x: 0px;
$icon-arrow-down-white-offset-y: -28px;
$icon-arrow-down-white-width: 12px;
$icon-arrow-down-white-height: 7px;
$icon-arrow-down-white-total-width: 32px;
$icon-arrow-down-white-total-height: 780px;
$icon-arrow-down-white-image: '../img/sprite-icons.png';
$icon-arrow-down-white: (0px, 28px, 0px, -28px, 12px, 7px, 32px, 780px, '../img/sprite-icons.png', 'icon-arrow-down-white', );
$icon-arrow-left-black-name: 'icon-arrow-left-black';
$icon-arrow-left-black-x: 0px;
$icon-arrow-left-black-y: 719px;
$icon-arrow-left-black-offset-x: 0px;
$icon-arrow-left-black-offset-y: -719px;
$icon-arrow-left-black-width: 15px;
$icon-arrow-left-black-height: 28px;
$icon-arrow-left-black-total-width: 32px;
$icon-arrow-left-black-total-height: 780px;
$icon-arrow-left-black-image: '../img/sprite-icons.png';
$icon-arrow-left-black: (0px, 719px, 0px, -719px, 15px, 28px, 32px, 780px, '../img/sprite-icons.png', 'icon-arrow-left-black', );
$icon-arrow-left-white-name: 'icon-arrow-left-white';
$icon-arrow-left-white-x: 0px;
$icon-arrow-left-white-y: 691px;
$icon-arrow-left-white-offset-x: 0px;
$icon-arrow-left-white-offset-y: -691px;
$icon-arrow-left-white-width: 15px;
$icon-arrow-left-white-height: 28px;
$icon-arrow-left-white-total-width: 32px;
$icon-arrow-left-white-total-height: 780px;
$icon-arrow-left-white-image: '../img/sprite-icons.png';
$icon-arrow-left-white: (0px, 691px, 0px, -691px, 15px, 28px, 32px, 780px, '../img/sprite-icons.png', 'icon-arrow-left-white', );
$icon-arrow-next-black-bigger-name: 'icon-arrow-next-black-bigger';
$icon-arrow-next-black-bigger-x: 0px;
$icon-arrow-next-black-bigger-y: 251px;
$icon-arrow-next-black-bigger-offset-x: 0px;
$icon-arrow-next-black-bigger-offset-y: -251px;
$icon-arrow-next-black-bigger-width: 8px;
$icon-arrow-next-black-bigger-height: 14px;
$icon-arrow-next-black-bigger-total-width: 32px;
$icon-arrow-next-black-bigger-total-height: 780px;
$icon-arrow-next-black-bigger-image: '../img/sprite-icons.png';
$icon-arrow-next-black-bigger: (0px, 251px, 0px, -251px, 8px, 14px, 32px, 780px, '../img/sprite-icons.png', 'icon-arrow-next-black-bigger', );
$icon-arrow-next-black-name: 'icon-arrow-next-black';
$icon-arrow-next-black-x: 0px;
$icon-arrow-next-black-y: 101px;
$icon-arrow-next-black-offset-x: 0px;
$icon-arrow-next-black-offset-y: -101px;
$icon-arrow-next-black-width: 7px;
$icon-arrow-next-black-height: 12px;
$icon-arrow-next-black-total-width: 32px;
$icon-arrow-next-black-total-height: 780px;
$icon-arrow-next-black-image: '../img/sprite-icons.png';
$icon-arrow-next-black: (0px, 101px, 0px, -101px, 7px, 12px, 32px, 780px, '../img/sprite-icons.png', 'icon-arrow-next-black', );
$icon-arrow-next-dark-orange-name: 'icon-arrow-next-dark-orange';
$icon-arrow-next-dark-orange-x: 0px;
$icon-arrow-next-dark-orange-y: 139px;
$icon-arrow-next-dark-orange-offset-x: 0px;
$icon-arrow-next-dark-orange-offset-y: -139px;
$icon-arrow-next-dark-orange-width: 14px;
$icon-arrow-next-dark-orange-height: 14px;
$icon-arrow-next-dark-orange-total-width: 32px;
$icon-arrow-next-dark-orange-total-height: 780px;
$icon-arrow-next-dark-orange-image: '../img/sprite-icons.png';
$icon-arrow-next-dark-orange: (0px, 139px, 0px, -139px, 14px, 14px, 32px, 780px, '../img/sprite-icons.png', 'icon-arrow-next-dark-orange', );
$icon-arrow-next-orange-name: 'icon-arrow-next-orange';
$icon-arrow-next-orange-x: 0px;
$icon-arrow-next-orange-y: 279px;
$icon-arrow-next-orange-offset-x: 0px;
$icon-arrow-next-orange-offset-y: -279px;
$icon-arrow-next-orange-width: 14px;
$icon-arrow-next-orange-height: 14px;
$icon-arrow-next-orange-total-width: 32px;
$icon-arrow-next-orange-total-height: 780px;
$icon-arrow-next-orange-image: '../img/sprite-icons.png';
$icon-arrow-next-orange: (0px, 279px, 0px, -279px, 14px, 14px, 32px, 780px, '../img/sprite-icons.png', 'icon-arrow-next-orange', );
$icon-arrow-next-white-bigger-name: 'icon-arrow-next-white-bigger';
$icon-arrow-next-white-bigger-x: 0px;
$icon-arrow-next-white-bigger-y: 265px;
$icon-arrow-next-white-bigger-offset-x: 0px;
$icon-arrow-next-white-bigger-offset-y: -265px;
$icon-arrow-next-white-bigger-width: 8px;
$icon-arrow-next-white-bigger-height: 14px;
$icon-arrow-next-white-bigger-total-width: 32px;
$icon-arrow-next-white-bigger-total-height: 780px;
$icon-arrow-next-white-bigger-image: '../img/sprite-icons.png';
$icon-arrow-next-white-bigger: (0px, 265px, 0px, -265px, 8px, 14px, 32px, 780px, '../img/sprite-icons.png', 'icon-arrow-next-white-bigger', );
$icon-arrow-next-white-name: 'icon-arrow-next-white';
$icon-arrow-next-white-x: 0px;
$icon-arrow-next-white-y: 65px;
$icon-arrow-next-white-offset-x: 0px;
$icon-arrow-next-white-offset-y: -65px;
$icon-arrow-next-white-width: 7px;
$icon-arrow-next-white-height: 12px;
$icon-arrow-next-white-total-width: 32px;
$icon-arrow-next-white-total-height: 780px;
$icon-arrow-next-white-image: '../img/sprite-icons.png';
$icon-arrow-next-white: (0px, 65px, 0px, -65px, 7px, 12px, 32px, 780px, '../img/sprite-icons.png', 'icon-arrow-next-white', );
$icon-arrow-prev-black-bigger-name: 'icon-arrow-prev-black-bigger';
$icon-arrow-prev-black-bigger-x: 0px;
$icon-arrow-prev-black-bigger-y: 153px;
$icon-arrow-prev-black-bigger-offset-x: 0px;
$icon-arrow-prev-black-bigger-offset-y: -153px;
$icon-arrow-prev-black-bigger-width: 8px;
$icon-arrow-prev-black-bigger-height: 14px;
$icon-arrow-prev-black-bigger-total-width: 32px;
$icon-arrow-prev-black-bigger-total-height: 780px;
$icon-arrow-prev-black-bigger-image: '../img/sprite-icons.png';
$icon-arrow-prev-black-bigger: (0px, 153px, 0px, -153px, 8px, 14px, 32px, 780px, '../img/sprite-icons.png', 'icon-arrow-prev-black-bigger', );
$icon-arrow-prev-black-name: 'icon-arrow-prev-black';
$icon-arrow-prev-black-x: 0px;
$icon-arrow-prev-black-y: 77px;
$icon-arrow-prev-black-offset-x: 0px;
$icon-arrow-prev-black-offset-y: -77px;
$icon-arrow-prev-black-width: 7px;
$icon-arrow-prev-black-height: 12px;
$icon-arrow-prev-black-total-width: 32px;
$icon-arrow-prev-black-total-height: 780px;
$icon-arrow-prev-black-image: '../img/sprite-icons.png';
$icon-arrow-prev-black: (0px, 77px, 0px, -77px, 7px, 12px, 32px, 780px, '../img/sprite-icons.png', 'icon-arrow-prev-black', );
$icon-arrow-prev-white-bigger-name: 'icon-arrow-prev-white-bigger';
$icon-arrow-prev-white-bigger-x: 0px;
$icon-arrow-prev-white-bigger-y: 125px;
$icon-arrow-prev-white-bigger-offset-x: 0px;
$icon-arrow-prev-white-bigger-offset-y: -125px;
$icon-arrow-prev-white-bigger-width: 8px;
$icon-arrow-prev-white-bigger-height: 14px;
$icon-arrow-prev-white-bigger-total-width: 32px;
$icon-arrow-prev-white-bigger-total-height: 780px;
$icon-arrow-prev-white-bigger-image: '../img/sprite-icons.png';
$icon-arrow-prev-white-bigger: (0px, 125px, 0px, -125px, 8px, 14px, 32px, 780px, '../img/sprite-icons.png', 'icon-arrow-prev-white-bigger', );
$icon-arrow-prev-white-name: 'icon-arrow-prev-white';
$icon-arrow-prev-white-x: 0px;
$icon-arrow-prev-white-y: 89px;
$icon-arrow-prev-white-offset-x: 0px;
$icon-arrow-prev-white-offset-y: -89px;
$icon-arrow-prev-white-width: 7px;
$icon-arrow-prev-white-height: 12px;
$icon-arrow-prev-white-total-width: 32px;
$icon-arrow-prev-white-total-height: 780px;
$icon-arrow-prev-white-image: '../img/sprite-icons.png';
$icon-arrow-prev-white: (0px, 89px, 0px, -89px, 7px, 12px, 32px, 780px, '../img/sprite-icons.png', 'icon-arrow-prev-white', );
$icon-arrow-up-white-name: 'icon-arrow-up-white';
$icon-arrow-up-white-x: 0px;
$icon-arrow-up-white-y: 35px;
$icon-arrow-up-white-offset-x: 0px;
$icon-arrow-up-white-offset-y: -35px;
$icon-arrow-up-white-width: 12px;
$icon-arrow-up-white-height: 7px;
$icon-arrow-up-white-total-width: 32px;
$icon-arrow-up-white-total-height: 780px;
$icon-arrow-up-white-image: '../img/sprite-icons.png';
$icon-arrow-up-white: (0px, 35px, 0px, -35px, 12px, 7px, 32px, 780px, '../img/sprite-icons.png', 'icon-arrow-up-white', );
$icon-basket-add-name: 'icon-basket-add';
$icon-basket-add-x: 0px;
$icon-basket-add-y: 534px;
$icon-basket-add-offset-x: 0px;
$icon-basket-add-offset-y: -534px;
$icon-basket-add-width: 31px;
$icon-basket-add-height: 26px;
$icon-basket-add-total-width: 32px;
$icon-basket-add-total-height: 780px;
$icon-basket-add-image: '../img/sprite-icons.png';
$icon-basket-add: (0px, 534px, 0px, -534px, 31px, 26px, 32px, 780px, '../img/sprite-icons.png', 'icon-basket-add', );
$icon-basket-black-lg-name: 'icon-basket-black-lg';
$icon-basket-black-lg-x: 0px;
$icon-basket-black-lg-y: 560px;
$icon-basket-black-lg-offset-x: 0px;
$icon-basket-black-lg-offset-y: -560px;
$icon-basket-black-lg-width: 31px;
$icon-basket-black-lg-height: 26px;
$icon-basket-black-lg-total-width: 32px;
$icon-basket-black-lg-total-height: 780px;
$icon-basket-black-lg-image: '../img/sprite-icons.png';
$icon-basket-black-lg: (0px, 560px, 0px, -560px, 31px, 26px, 32px, 780px, '../img/sprite-icons.png', 'icon-basket-black-lg', );
$icon-basket-black-name: 'icon-basket-black';
$icon-basket-black-x: 0px;
$icon-basket-black-y: 508px;
$icon-basket-black-offset-x: 0px;
$icon-basket-black-offset-y: -508px;
$icon-basket-black-width: 29px;
$icon-basket-black-height: 26px;
$icon-basket-black-total-width: 32px;
$icon-basket-black-total-height: 780px;
$icon-basket-black-image: '../img/sprite-icons.png';
$icon-basket-black: (0px, 508px, 0px, -508px, 29px, 26px, 32px, 780px, '../img/sprite-icons.png', 'icon-basket-black', );
$icon-basket-checkout-name: 'icon-basket-checkout';
$icon-basket-checkout-x: 0px;
$icon-basket-checkout-y: 747px;
$icon-basket-checkout-offset-x: 0px;
$icon-basket-checkout-offset-y: -747px;
$icon-basket-checkout-width: 31px;
$icon-basket-checkout-height: 33px;
$icon-basket-checkout-total-width: 32px;
$icon-basket-checkout-total-height: 780px;
$icon-basket-checkout-image: '../img/sprite-icons.png';
$icon-basket-checkout: (0px, 747px, 0px, -747px, 31px, 33px, 32px, 780px, '../img/sprite-icons.png', 'icon-basket-checkout', );
$icon-basket-white-name: 'icon-basket-white';
$icon-basket-white-x: 0px;
$icon-basket-white-y: 586px;
$icon-basket-white-offset-x: 0px;
$icon-basket-white-offset-y: -586px;
$icon-basket-white-width: 29px;
$icon-basket-white-height: 26px;
$icon-basket-white-total-width: 32px;
$icon-basket-white-total-height: 780px;
$icon-basket-white-image: '../img/sprite-icons.png';
$icon-basket-white: (0px, 586px, 0px, -586px, 29px, 26px, 32px, 780px, '../img/sprite-icons.png', 'icon-basket-white', );
$icon-checked-name: 'icon-checked';
$icon-checked-x: 0px;
$icon-checked-y: 42px;
$icon-checked-offset-x: 0px;
$icon-checked-offset-y: -42px;
$icon-checked-width: 14px;
$icon-checked-height: 11px;
$icon-checked-total-width: 32px;
$icon-checked-total-height: 780px;
$icon-checked-image: '../img/sprite-icons.png';
$icon-checked: (0px, 42px, 0px, -42px, 14px, 11px, 32px, 780px, '../img/sprite-icons.png', 'icon-checked', );
$icon-close-black-lg-name: 'icon-close-black-lg';
$icon-close-black-lg-x: 0px;
$icon-close-black-lg-y: 432px;
$icon-close-black-lg-offset-x: 0px;
$icon-close-black-lg-offset-y: -432px;
$icon-close-black-lg-width: 25px;
$icon-close-black-lg-height: 25px;
$icon-close-black-lg-total-width: 32px;
$icon-close-black-lg-total-height: 780px;
$icon-close-black-lg-image: '../img/sprite-icons.png';
$icon-close-black-lg: (0px, 432px, 0px, -432px, 25px, 25px, 32px, 780px, '../img/sprite-icons.png', 'icon-close-black-lg', );
$icon-close-black-sm-name: 'icon-close-black-sm';
$icon-close-black-sm-x: 0px;
$icon-close-black-sm-y: 113px;
$icon-close-black-sm-offset-x: 0px;
$icon-close-black-sm-offset-y: -113px;
$icon-close-black-sm-width: 12px;
$icon-close-black-sm-height: 12px;
$icon-close-black-sm-total-width: 32px;
$icon-close-black-sm-total-height: 780px;
$icon-close-black-sm-image: '../img/sprite-icons.png';
$icon-close-black-sm: (0px, 113px, 0px, -113px, 12px, 12px, 32px, 780px, '../img/sprite-icons.png', 'icon-close-black-sm', );
$icon-close-dark-orange-lg-name: 'icon-close-dark-orange-lg';
$icon-close-dark-orange-lg-x: 0px;
$icon-close-dark-orange-lg-y: 457px;
$icon-close-dark-orange-lg-offset-x: 0px;
$icon-close-dark-orange-lg-offset-y: -457px;
$icon-close-dark-orange-lg-width: 25px;
$icon-close-dark-orange-lg-height: 25px;
$icon-close-dark-orange-lg-total-width: 32px;
$icon-close-dark-orange-lg-total-height: 780px;
$icon-close-dark-orange-lg-image: '../img/sprite-icons.png';
$icon-close-dark-orange-lg: (0px, 457px, 0px, -457px, 25px, 25px, 32px, 780px, '../img/sprite-icons.png', 'icon-close-dark-orange-lg', );
$icon-close-orange-lg-name: 'icon-close-orange-lg';
$icon-close-orange-lg-x: 0px;
$icon-close-orange-lg-y: 407px;
$icon-close-orange-lg-offset-x: 0px;
$icon-close-orange-lg-offset-y: -407px;
$icon-close-orange-lg-width: 25px;
$icon-close-orange-lg-height: 25px;
$icon-close-orange-lg-total-width: 32px;
$icon-close-orange-lg-total-height: 780px;
$icon-close-orange-lg-image: '../img/sprite-icons.png';
$icon-close-orange-lg: (0px, 407px, 0px, -407px, 25px, 25px, 32px, 780px, '../img/sprite-icons.png', 'icon-close-orange-lg', );
$icon-close-white-sm-name: 'icon-close-white-sm';
$icon-close-white-sm-x: 0px;
$icon-close-white-sm-y: 53px;
$icon-close-white-sm-offset-x: 0px;
$icon-close-white-sm-offset-y: -53px;
$icon-close-white-sm-width: 12px;
$icon-close-white-sm-height: 12px;
$icon-close-white-sm-total-width: 32px;
$icon-close-white-sm-total-height: 780px;
$icon-close-white-sm-image: '../img/sprite-icons.png';
$icon-close-white-sm: (0px, 53px, 0px, -53px, 12px, 12px, 32px, 780px, '../img/sprite-icons.png', 'icon-close-white-sm', );
$icon-country-black-name: 'icon-country-black';
$icon-country-black-x: 0px;
$icon-country-black-y: 339px;
$icon-country-black-offset-x: 0px;
$icon-country-black-offset-y: -339px;
$icon-country-black-width: 22px;
$icon-country-black-height: 22px;
$icon-country-black-total-width: 32px;
$icon-country-black-total-height: 780px;
$icon-country-black-image: '../img/sprite-icons.png';
$icon-country-black: (0px, 339px, 0px, -339px, 22px, 22px, 32px, 780px, '../img/sprite-icons.png', 'icon-country-black', );
$icon-country-white-name: 'icon-country-white';
$icon-country-white-x: 0px;
$icon-country-white-y: 361px;
$icon-country-white-offset-x: 0px;
$icon-country-white-offset-y: -361px;
$icon-country-white-width: 22px;
$icon-country-white-height: 22px;
$icon-country-white-total-width: 32px;
$icon-country-white-total-height: 780px;
$icon-country-white-image: '../img/sprite-icons.png';
$icon-country-white: (0px, 361px, 0px, -361px, 22px, 22px, 32px, 780px, '../img/sprite-icons.png', 'icon-country-white', );
$icon-language-name: 'icon-language';
$icon-language-x: 0px;
$icon-language-y: 383px;
$icon-language-offset-x: 0px;
$icon-language-offset-y: -383px;
$icon-language-width: 24px;
$icon-language-height: 24px;
$icon-language-total-width: 32px;
$icon-language-total-height: 780px;
$icon-language-image: '../img/sprite-icons.png';
$icon-language: (0px, 383px, 0px, -383px, 24px, 24px, 32px, 780px, '../img/sprite-icons.png', 'icon-language', );
$icon-min-black-name: 'icon-min-black';
$icon-min-black-x: 0px;
$icon-min-black-y: 4px;
$icon-min-black-offset-x: 0px;
$icon-min-black-offset-y: -4px;
$icon-min-black-width: 12px;
$icon-min-black-height: 2px;
$icon-min-black-total-width: 32px;
$icon-min-black-total-height: 780px;
$icon-min-black-image: '../img/sprite-icons.png';
$icon-min-black: (0px, 4px, 0px, -4px, 12px, 2px, 32px, 780px, '../img/sprite-icons.png', 'icon-min-black', );
$icon-min-grey-name: 'icon-min-grey';
$icon-min-grey-x: 0px;
$icon-min-grey-y: 2px;
$icon-min-grey-offset-x: 0px;
$icon-min-grey-offset-y: -2px;
$icon-min-grey-width: 12px;
$icon-min-grey-height: 2px;
$icon-min-grey-total-width: 32px;
$icon-min-grey-total-height: 780px;
$icon-min-grey-image: '../img/sprite-icons.png';
$icon-min-grey: (0px, 2px, 0px, -2px, 12px, 2px, 32px, 780px, '../img/sprite-icons.png', 'icon-min-grey', );
$icon-min-white-name: 'icon-min-white';
$icon-min-white-x: 0px;
$icon-min-white-y: 0px;
$icon-min-white-offset-x: 0px;
$icon-min-white-offset-y: 0px;
$icon-min-white-width: 12px;
$icon-min-white-height: 2px;
$icon-min-white-total-width: 32px;
$icon-min-white-total-height: 780px;
$icon-min-white-image: '../img/sprite-icons.png';
$icon-min-white: (0px, 0px, 0px, 0px, 12px, 2px, 32px, 780px, '../img/sprite-icons.png', 'icon-min-white', );
$icon-next-arrow-black-name: 'icon-next-arrow-black';
$icon-next-arrow-black-x: 0px;
$icon-next-arrow-black-y: 223px;
$icon-next-arrow-black-offset-x: 0px;
$icon-next-arrow-black-offset-y: -223px;
$icon-next-arrow-black-width: 14px;
$icon-next-arrow-black-height: 14px;
$icon-next-arrow-black-total-width: 32px;
$icon-next-arrow-black-total-height: 780px;
$icon-next-arrow-black-image: '../img/sprite-icons.png';
$icon-next-arrow-black: (0px, 223px, 0px, -223px, 14px, 14px, 32px, 780px, '../img/sprite-icons.png', 'icon-next-arrow-black', );
$icon-order-name: 'icon-order';
$icon-order-x: 0px;
$icon-order-y: 482px;
$icon-order-offset-x: 0px;
$icon-order-offset-y: -482px;
$icon-order-width: 28px;
$icon-order-height: 26px;
$icon-order-total-width: 32px;
$icon-order-total-height: 780px;
$icon-order-image: '../img/sprite-icons.png';
$icon-order: (0px, 482px, 0px, -482px, 28px, 26px, 32px, 780px, '../img/sprite-icons.png', 'icon-order', );
$icon-plus-black-name: 'icon-plus-black';
$icon-plus-black-x: 0px;
$icon-plus-black-y: 209px;
$icon-plus-black-offset-x: 0px;
$icon-plus-black-offset-y: -209px;
$icon-plus-black-width: 14px;
$icon-plus-black-height: 14px;
$icon-plus-black-total-width: 32px;
$icon-plus-black-total-height: 780px;
$icon-plus-black-image: '../img/sprite-icons.png';
$icon-plus-black: (0px, 209px, 0px, -209px, 14px, 14px, 32px, 780px, '../img/sprite-icons.png', 'icon-plus-black', );
$icon-plus-white-name: 'icon-plus-white';
$icon-plus-white-x: 0px;
$icon-plus-white-y: 195px;
$icon-plus-white-offset-x: 0px;
$icon-plus-white-offset-y: -195px;
$icon-plus-white-width: 14px;
$icon-plus-white-height: 14px;
$icon-plus-white-total-width: 32px;
$icon-plus-white-total-height: 780px;
$icon-plus-white-image: '../img/sprite-icons.png';
$icon-plus-white: (0px, 195px, 0px, -195px, 14px, 14px, 32px, 780px, '../img/sprite-icons.png', 'icon-plus-white', );
$icon-read-more-black-name: 'icon-read-more-black';
$icon-read-more-black-x: 0px;
$icon-read-more-black-y: 323px;
$icon-read-more-black-offset-x: 0px;
$icon-read-more-black-offset-y: -323px;
$icon-read-more-black-width: 18px;
$icon-read-more-black-height: 16px;
$icon-read-more-black-total-width: 32px;
$icon-read-more-black-total-height: 780px;
$icon-read-more-black-image: '../img/sprite-icons.png';
$icon-read-more-black: (0px, 323px, 0px, -323px, 18px, 16px, 32px, 780px, '../img/sprite-icons.png', 'icon-read-more-black', );
$icon-read-more-white-name: 'icon-read-more-white';
$icon-read-more-white-x: 0px;
$icon-read-more-white-y: 307px;
$icon-read-more-white-offset-x: 0px;
$icon-read-more-white-offset-y: -307px;
$icon-read-more-white-width: 18px;
$icon-read-more-white-height: 16px;
$icon-read-more-white-total-width: 32px;
$icon-read-more-white-total-height: 780px;
$icon-read-more-white-image: '../img/sprite-icons.png';
$icon-read-more-white: (0px, 307px, 0px, -307px, 18px, 16px, 32px, 780px, '../img/sprite-icons.png', 'icon-read-more-white', );
$icon-read-more-name: 'icon-read-more';
$icon-read-more-x: 0px;
$icon-read-more-y: 664px;
$icon-read-more-offset-x: 0px;
$icon-read-more-offset-y: -664px;
$icon-read-more-width: 32px;
$icon-read-more-height: 27px;
$icon-read-more-total-width: 32px;
$icon-read-more-total-height: 780px;
$icon-read-more-image: '../img/sprite-icons.png';
$icon-read-more: (0px, 664px, 0px, -664px, 32px, 27px, 32px, 780px, '../img/sprite-icons.png', 'icon-read-more', );
$icon-search-black-name: 'icon-search-black';
$icon-search-black-x: 0px;
$icon-search-black-y: 612px;
$icon-search-black-offset-x: 0px;
$icon-search-black-offset-y: -612px;
$icon-search-black-width: 26px;
$icon-search-black-height: 26px;
$icon-search-black-total-width: 32px;
$icon-search-black-total-height: 780px;
$icon-search-black-image: '../img/sprite-icons.png';
$icon-search-black: (0px, 612px, 0px, -612px, 26px, 26px, 32px, 780px, '../img/sprite-icons.png', 'icon-search-black', );
$icon-search-white-name: 'icon-search-white';
$icon-search-white-x: 0px;
$icon-search-white-y: 638px;
$icon-search-white-offset-x: 0px;
$icon-search-white-offset-y: -638px;
$icon-search-white-width: 26px;
$icon-search-white-height: 26px;
$icon-search-white-total-width: 32px;
$icon-search-white-total-height: 780px;
$icon-search-white-image: '../img/sprite-icons.png';
$icon-search-white: (0px, 638px, 0px, -638px, 26px, 26px, 32px, 780px, '../img/sprite-icons.png', 'icon-search-white', );
$icon-select-black-name: 'icon-select-black';
$icon-select-black-x: 0px;
$icon-select-black-y: 16px;
$icon-select-black-offset-x: 0px;
$icon-select-black-offset-y: -16px;
$icon-select-black-width: 8px;
$icon-select-black-height: 5px;
$icon-select-black-total-width: 32px;
$icon-select-black-total-height: 780px;
$icon-select-black-image: '../img/sprite-icons.png';
$icon-select-black: (0px, 16px, 0px, -16px, 8px, 5px, 32px, 780px, '../img/sprite-icons.png', 'icon-select-black', );
$icon-select-dark-orange-name: 'icon-select-dark-orange';
$icon-select-dark-orange-x: 0px;
$icon-select-dark-orange-y: 11px;
$icon-select-dark-orange-offset-x: 0px;
$icon-select-dark-orange-offset-y: -11px;
$icon-select-dark-orange-width: 8px;
$icon-select-dark-orange-height: 5px;
$icon-select-dark-orange-total-width: 32px;
$icon-select-dark-orange-total-height: 780px;
$icon-select-dark-orange-image: '../img/sprite-icons.png';
$icon-select-dark-orange: (0px, 11px, 0px, -11px, 8px, 5px, 32px, 780px, '../img/sprite-icons.png', 'icon-select-dark-orange', );
$icon-select-orange-name: 'icon-select-orange';
$icon-select-orange-x: 0px;
$icon-select-orange-y: 6px;
$icon-select-orange-offset-x: 0px;
$icon-select-orange-offset-y: -6px;
$icon-select-orange-width: 8px;
$icon-select-orange-height: 5px;
$icon-select-orange-total-width: 32px;
$icon-select-orange-total-height: 780px;
$icon-select-orange-image: '../img/sprite-icons.png';
$icon-select-orange: (0px, 6px, 0px, -6px, 8px, 5px, 32px, 780px, '../img/sprite-icons.png', 'icon-select-orange', );
$spritesheet-width: 32px;
$spritesheet-height: 780px;
$spritesheet-image: '../img/sprite-icons.png';
$spritesheet-sprites: ($icon-arrow-back-black, $icon-arrow-back-dark-orange, $icon-arrow-back-orange, $icon-arrow-back-white, $icon-arrow-down-black, $icon-arrow-down-white, $icon-arrow-left-black, $icon-arrow-left-white, $icon-arrow-next-black-bigger, $icon-arrow-next-black, $icon-arrow-next-dark-orange, $icon-arrow-next-orange, $icon-arrow-next-white-bigger, $icon-arrow-next-white, $icon-arrow-prev-black-bigger, $icon-arrow-prev-black, $icon-arrow-prev-white-bigger, $icon-arrow-prev-white, $icon-arrow-up-white, $icon-basket-add, $icon-basket-black-lg, $icon-basket-black, $icon-basket-checkout, $icon-basket-white, $icon-checked, $icon-close-black-lg, $icon-close-black-sm, $icon-close-dark-orange-lg, $icon-close-orange-lg, $icon-close-white-sm, $icon-country-black, $icon-country-white, $icon-language, $icon-min-black, $icon-min-grey, $icon-min-white, $icon-next-arrow-black, $icon-order, $icon-plus-black, $icon-plus-white, $icon-read-more-black, $icon-read-more-white, $icon-read-more, $icon-search-black, $icon-search-white, $icon-select-black, $icon-select-dark-orange, $icon-select-orange, );
$spritesheet: (32px, 780px, '../img/sprite-icons.png', $spritesheet-sprites, );


@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}


@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
