
$icon-arrow-back-name: 'icon-arrow-back';
$icon-arrow-back-x: 0px;
$icon-arrow-back-y: 7px;
$icon-arrow-back-offset-x: 0px;
$icon-arrow-back-offset-y: -7px;
$icon-arrow-back-width: 7px;
$icon-arrow-back-height: 11px;
$icon-arrow-back-total-width: 23px;
$icon-arrow-back-total-height: 301px;
$icon-arrow-back-image: '../img/sprite-arrows.png';
$icon-arrow-back: (0px, 7px, 0px, -7px, 7px, 11px, 23px, 301px, '../img/sprite-arrows.png', 'icon-arrow-back', );
$icon-arrow-grey-name: 'icon-arrow-grey';
$icon-arrow-grey-x: 0px;
$icon-arrow-grey-y: 51px;
$icon-arrow-grey-offset-x: 0px;
$icon-arrow-grey-offset-y: -51px;
$icon-arrow-grey-width: 23px;
$icon-arrow-grey-height: 11px;
$icon-arrow-grey-total-width: 23px;
$icon-arrow-grey-total-height: 301px;
$icon-arrow-grey-image: '../img/sprite-arrows.png';
$icon-arrow-grey: (0px, 51px, 0px, -51px, 23px, 11px, 23px, 301px, '../img/sprite-arrows.png', 'icon-arrow-grey', );
$icon-arrow-light-sm-name: 'icon-arrow-light-sm';
$icon-arrow-light-sm-x: 0px;
$icon-arrow-light-sm-y: 18px;
$icon-arrow-light-sm-offset-x: 0px;
$icon-arrow-light-sm-offset-y: -18px;
$icon-arrow-light-sm-width: 7px;
$icon-arrow-light-sm-height: 11px;
$icon-arrow-light-sm-total-width: 23px;
$icon-arrow-light-sm-total-height: 301px;
$icon-arrow-light-sm-image: '../img/sprite-arrows.png';
$icon-arrow-light-sm: (0px, 18px, 0px, -18px, 7px, 11px, 23px, 301px, '../img/sprite-arrows.png', 'icon-arrow-light-sm', );
$icon-arrow-next-active-name: 'icon-arrow-next-active';
$icon-arrow-next-active-x: 0px;
$icon-arrow-next-active-y: 270px;
$icon-arrow-next-active-offset-x: 0px;
$icon-arrow-next-active-offset-y: -270px;
$icon-arrow-next-active-width: 15px;
$icon-arrow-next-active-height: 31px;
$icon-arrow-next-active-total-width: 23px;
$icon-arrow-next-active-total-height: 301px;
$icon-arrow-next-active-image: '../img/sprite-arrows.png';
$icon-arrow-next-active: (0px, 270px, 0px, -270px, 15px, 31px, 23px, 301px, '../img/sprite-arrows.png', 'icon-arrow-next-active', );
$icon-arrow-next-grey-name: 'icon-arrow-next-grey';
$icon-arrow-next-grey-x: 0px;
$icon-arrow-next-grey-y: 159px;
$icon-arrow-next-grey-offset-x: 0px;
$icon-arrow-next-grey-offset-y: -159px;
$icon-arrow-next-grey-width: 8px;
$icon-arrow-next-grey-height: 18px;
$icon-arrow-next-grey-total-width: 23px;
$icon-arrow-next-grey-total-height: 301px;
$icon-arrow-next-grey-image: '../img/sprite-arrows.png';
$icon-arrow-next-grey: (0px, 159px, 0px, -159px, 8px, 18px, 23px, 301px, '../img/sprite-arrows.png', 'icon-arrow-next-grey', );
$icon-arrow-next-orange-name: 'icon-arrow-next-orange';
$icon-arrow-next-orange-x: 0px;
$icon-arrow-next-orange-y: 105px;
$icon-arrow-next-orange-offset-x: 0px;
$icon-arrow-next-orange-offset-y: -105px;
$icon-arrow-next-orange-width: 8px;
$icon-arrow-next-orange-height: 18px;
$icon-arrow-next-orange-total-width: 23px;
$icon-arrow-next-orange-total-height: 301px;
$icon-arrow-next-orange-image: '../img/sprite-arrows.png';
$icon-arrow-next-orange: (0px, 105px, 0px, -105px, 8px, 18px, 23px, 301px, '../img/sprite-arrows.png', 'icon-arrow-next-orange', );
$icon-arrow-next-name: 'icon-arrow-next';
$icon-arrow-next-x: 0px;
$icon-arrow-next-y: 177px;
$icon-arrow-next-offset-x: 0px;
$icon-arrow-next-offset-y: -177px;
$icon-arrow-next-width: 15px;
$icon-arrow-next-height: 31px;
$icon-arrow-next-total-width: 23px;
$icon-arrow-next-total-height: 301px;
$icon-arrow-next-image: '../img/sprite-arrows.png';
$icon-arrow-next: (0px, 177px, 0px, -177px, 15px, 31px, 23px, 301px, '../img/sprite-arrows.png', 'icon-arrow-next', );
$icon-arrow-orange-down-lg-name: 'icon-arrow-orange-down-lg';
$icon-arrow-orange-down-lg-x: 0px;
$icon-arrow-orange-down-lg-y: 62px;
$icon-arrow-orange-down-lg-offset-x: 0px;
$icon-arrow-orange-down-lg-offset-y: -62px;
$icon-arrow-orange-down-lg-width: 23px;
$icon-arrow-orange-down-lg-height: 11px;
$icon-arrow-orange-down-lg-total-width: 23px;
$icon-arrow-orange-down-lg-total-height: 301px;
$icon-arrow-orange-down-lg-image: '../img/sprite-arrows.png';
$icon-arrow-orange-down-lg: (0px, 62px, 0px, -62px, 23px, 11px, 23px, 301px, '../img/sprite-arrows.png', 'icon-arrow-orange-down-lg', );
$icon-arrow-orange-down-sm-name: 'icon-arrow-orange-down-sm';
$icon-arrow-orange-down-sm-x: 0px;
$icon-arrow-orange-down-sm-y: 0px;
$icon-arrow-orange-down-sm-offset-x: 0px;
$icon-arrow-orange-down-sm-offset-y: 0px;
$icon-arrow-orange-down-sm-width: 14px;
$icon-arrow-orange-down-sm-height: 7px;
$icon-arrow-orange-down-sm-total-width: 23px;
$icon-arrow-orange-down-sm-total-height: 301px;
$icon-arrow-orange-down-sm-image: '../img/sprite-arrows.png';
$icon-arrow-orange-down-sm: (0px, 0px, 0px, 0px, 14px, 7px, 23px, 301px, '../img/sprite-arrows.png', 'icon-arrow-orange-down-sm', );
$icon-arrow-orange-name: 'icon-arrow-orange';
$icon-arrow-orange-x: 0px;
$icon-arrow-orange-y: 73px;
$icon-arrow-orange-offset-x: 0px;
$icon-arrow-orange-offset-y: -73px;
$icon-arrow-orange-width: 8px;
$icon-arrow-orange-height: 16px;
$icon-arrow-orange-total-width: 23px;
$icon-arrow-orange-total-height: 301px;
$icon-arrow-orange-image: '../img/sprite-arrows.png';
$icon-arrow-orange: (0px, 73px, 0px, -73px, 8px, 16px, 23px, 301px, '../img/sprite-arrows.png', 'icon-arrow-orange', );
$icon-arrow-prev-active-name: 'icon-arrow-prev-active';
$icon-arrow-prev-active-x: 0px;
$icon-arrow-prev-active-y: 208px;
$icon-arrow-prev-active-offset-x: 0px;
$icon-arrow-prev-active-offset-y: -208px;
$icon-arrow-prev-active-width: 15px;
$icon-arrow-prev-active-height: 31px;
$icon-arrow-prev-active-total-width: 23px;
$icon-arrow-prev-active-total-height: 301px;
$icon-arrow-prev-active-image: '../img/sprite-arrows.png';
$icon-arrow-prev-active: (0px, 208px, 0px, -208px, 15px, 31px, 23px, 301px, '../img/sprite-arrows.png', 'icon-arrow-prev-active', );
$icon-arrow-prev-grey-name: 'icon-arrow-prev-grey';
$icon-arrow-prev-grey-x: 0px;
$icon-arrow-prev-grey-y: 123px;
$icon-arrow-prev-grey-offset-x: 0px;
$icon-arrow-prev-grey-offset-y: -123px;
$icon-arrow-prev-grey-width: 8px;
$icon-arrow-prev-grey-height: 18px;
$icon-arrow-prev-grey-total-width: 23px;
$icon-arrow-prev-grey-total-height: 301px;
$icon-arrow-prev-grey-image: '../img/sprite-arrows.png';
$icon-arrow-prev-grey: (0px, 123px, 0px, -123px, 8px, 18px, 23px, 301px, '../img/sprite-arrows.png', 'icon-arrow-prev-grey', );
$icon-arrow-prev-orange-name: 'icon-arrow-prev-orange';
$icon-arrow-prev-orange-x: 0px;
$icon-arrow-prev-orange-y: 141px;
$icon-arrow-prev-orange-offset-x: 0px;
$icon-arrow-prev-orange-offset-y: -141px;
$icon-arrow-prev-orange-width: 8px;
$icon-arrow-prev-orange-height: 18px;
$icon-arrow-prev-orange-total-width: 23px;
$icon-arrow-prev-orange-total-height: 301px;
$icon-arrow-prev-orange-image: '../img/sprite-arrows.png';
$icon-arrow-prev-orange: (0px, 141px, 0px, -141px, 8px, 18px, 23px, 301px, '../img/sprite-arrows.png', 'icon-arrow-prev-orange', );
$icon-arrow-prev-name: 'icon-arrow-prev';
$icon-arrow-prev-x: 0px;
$icon-arrow-prev-y: 239px;
$icon-arrow-prev-offset-x: 0px;
$icon-arrow-prev-offset-y: -239px;
$icon-arrow-prev-width: 15px;
$icon-arrow-prev-height: 31px;
$icon-arrow-prev-total-width: 23px;
$icon-arrow-prev-total-height: 301px;
$icon-arrow-prev-image: '../img/sprite-arrows.png';
$icon-arrow-prev: (0px, 239px, 0px, -239px, 15px, 31px, 23px, 301px, '../img/sprite-arrows.png', 'icon-arrow-prev', );
$icon-arrow-soft-grey-top-name: 'icon-arrow-soft-grey-top';
$icon-arrow-soft-grey-top-x: 0px;
$icon-arrow-soft-grey-top-y: 40px;
$icon-arrow-soft-grey-top-offset-x: 0px;
$icon-arrow-soft-grey-top-offset-y: -40px;
$icon-arrow-soft-grey-top-width: 23px;
$icon-arrow-soft-grey-top-height: 11px;
$icon-arrow-soft-grey-top-total-width: 23px;
$icon-arrow-soft-grey-top-total-height: 301px;
$icon-arrow-soft-grey-top-image: '../img/sprite-arrows.png';
$icon-arrow-soft-grey-top: (0px, 40px, 0px, -40px, 23px, 11px, 23px, 301px, '../img/sprite-arrows.png', 'icon-arrow-soft-grey-top', );
$icon-arrow-white-sm-name: 'icon-arrow-white-sm';
$icon-arrow-white-sm-x: 0px;
$icon-arrow-white-sm-y: 29px;
$icon-arrow-white-sm-offset-x: 0px;
$icon-arrow-white-sm-offset-y: -29px;
$icon-arrow-white-sm-width: 7px;
$icon-arrow-white-sm-height: 11px;
$icon-arrow-white-sm-total-width: 23px;
$icon-arrow-white-sm-total-height: 301px;
$icon-arrow-white-sm-image: '../img/sprite-arrows.png';
$icon-arrow-white-sm: (0px, 29px, 0px, -29px, 7px, 11px, 23px, 301px, '../img/sprite-arrows.png', 'icon-arrow-white-sm', );
$icon-arrow-white-name: 'icon-arrow-white';
$icon-arrow-white-x: 0px;
$icon-arrow-white-y: 89px;
$icon-arrow-white-offset-x: 0px;
$icon-arrow-white-offset-y: -89px;
$icon-arrow-white-width: 8px;
$icon-arrow-white-height: 16px;
$icon-arrow-white-total-width: 23px;
$icon-arrow-white-total-height: 301px;
$icon-arrow-white-image: '../img/sprite-arrows.png';
$icon-arrow-white: (0px, 89px, 0px, -89px, 8px, 16px, 23px, 301px, '../img/sprite-arrows.png', 'icon-arrow-white', );
$spritesheet-width: 23px;
$spritesheet-height: 301px;
$spritesheet-image: '../img/sprite-arrows.png';
$spritesheet-sprites: ($icon-arrow-back, $icon-arrow-grey, $icon-arrow-light-sm, $icon-arrow-next-active, $icon-arrow-next-grey, $icon-arrow-next-orange, $icon-arrow-next, $icon-arrow-orange-down-lg, $icon-arrow-orange-down-sm, $icon-arrow-orange, $icon-arrow-prev-active, $icon-arrow-prev-grey, $icon-arrow-prev-orange, $icon-arrow-prev, $icon-arrow-soft-grey-top, $icon-arrow-white-sm, $icon-arrow-white, );
$spritesheet: (23px, 301px, '../img/sprite-arrows.png', $spritesheet-sprites, );


