
$icon-about-black-name: 'icon-about-black';
$icon-about-black-x: 0px;
$icon-about-black-y: 160px;
$icon-about-black-offset-x: 0px;
$icon-about-black-offset-y: -160px;
$icon-about-black-width: 19px;
$icon-about-black-height: 20px;
$icon-about-black-total-width: 21px;
$icon-about-black-total-height: 284px;
$icon-about-black-image: '../img/sprite-menu.png';
$icon-about-black: (0px, 160px, 0px, -160px, 19px, 20px, 21px, 284px, '../img/sprite-menu.png', 'icon-about-black', );
$icon-about-white-name: 'icon-about-white';
$icon-about-white-x: 0px;
$icon-about-white-y: 180px;
$icon-about-white-offset-x: 0px;
$icon-about-white-offset-y: -180px;
$icon-about-white-width: 19px;
$icon-about-white-height: 20px;
$icon-about-white-total-width: 21px;
$icon-about-white-total-height: 284px;
$icon-about-white-image: '../img/sprite-menu.png';
$icon-about-white: (0px, 180px, 0px, -180px, 19px, 20px, 21px, 284px, '../img/sprite-menu.png', 'icon-about-white', );
$icon-arrow-black-name: 'icon-arrow-black';
$icon-arrow-black-x: 0px;
$icon-arrow-black-y: 0px;
$icon-arrow-black-offset-x: 0px;
$icon-arrow-black-offset-y: 0px;
$icon-arrow-black-width: 7px;
$icon-arrow-black-height: 12px;
$icon-arrow-black-total-width: 21px;
$icon-arrow-black-total-height: 284px;
$icon-arrow-black-image: '../img/sprite-menu.png';
$icon-arrow-black: (0px, 0px, 0px, 0px, 7px, 12px, 21px, 284px, '../img/sprite-menu.png', 'icon-arrow-black', );
$icon-arrow-white-name: 'icon-arrow-white';
$icon-arrow-white-x: 0px;
$icon-arrow-white-y: 12px;
$icon-arrow-white-offset-x: 0px;
$icon-arrow-white-offset-y: -12px;
$icon-arrow-white-width: 7px;
$icon-arrow-white-height: 12px;
$icon-arrow-white-total-width: 21px;
$icon-arrow-white-total-height: 284px;
$icon-arrow-white-image: '../img/sprite-menu.png';
$icon-arrow-white: (0px, 12px, 0px, -12px, 7px, 12px, 21px, 284px, '../img/sprite-menu.png', 'icon-arrow-white', );
$icon-catalog-black-name: 'icon-catalog-black';
$icon-catalog-black-x: 0px;
$icon-catalog-black-y: 52px;
$icon-catalog-black-offset-x: 0px;
$icon-catalog-black-offset-y: -52px;
$icon-catalog-black-width: 15px;
$icon-catalog-black-height: 15px;
$icon-catalog-black-total-width: 21px;
$icon-catalog-black-total-height: 284px;
$icon-catalog-black-image: '../img/sprite-menu.png';
$icon-catalog-black: (0px, 52px, 0px, -52px, 15px, 15px, 21px, 284px, '../img/sprite-menu.png', 'icon-catalog-black', );
$icon-catalog-white-name: 'icon-catalog-white';
$icon-catalog-white-x: 0px;
$icon-catalog-white-y: 67px;
$icon-catalog-white-offset-x: 0px;
$icon-catalog-white-offset-y: -67px;
$icon-catalog-white-width: 15px;
$icon-catalog-white-height: 15px;
$icon-catalog-white-total-width: 21px;
$icon-catalog-white-total-height: 284px;
$icon-catalog-white-image: '../img/sprite-menu.png';
$icon-catalog-white: (0px, 67px, 0px, -67px, 15px, 15px, 21px, 284px, '../img/sprite-menu.png', 'icon-catalog-white', );
$icon-company-black-name: 'icon-company-black';
$icon-company-black-x: 0px;
$icon-company-black-y: 221px;
$icon-company-black-offset-x: 0px;
$icon-company-black-offset-y: -221px;
$icon-company-black-width: 19px;
$icon-company-black-height: 21px;
$icon-company-black-total-width: 21px;
$icon-company-black-total-height: 284px;
$icon-company-black-image: '../img/sprite-menu.png';
$icon-company-black: (0px, 221px, 0px, -221px, 19px, 21px, 21px, 284px, '../img/sprite-menu.png', 'icon-company-black', );
$icon-company-white-name: 'icon-company-white';
$icon-company-white-x: 0px;
$icon-company-white-y: 200px;
$icon-company-white-offset-x: 0px;
$icon-company-white-offset-y: -200px;
$icon-company-white-width: 19px;
$icon-company-white-height: 21px;
$icon-company-white-total-width: 21px;
$icon-company-white-total-height: 284px;
$icon-company-white-image: '../img/sprite-menu.png';
$icon-company-white: (0px, 200px, 0px, -200px, 19px, 21px, 21px, 284px, '../img/sprite-menu.png', 'icon-company-white', );
$icon-help-black-name: 'icon-help-black';
$icon-help-black-x: 0px;
$icon-help-black-y: 120px;
$icon-help-black-offset-x: 0px;
$icon-help-black-offset-y: -120px;
$icon-help-black-width: 20px;
$icon-help-black-height: 20px;
$icon-help-black-total-width: 21px;
$icon-help-black-total-height: 284px;
$icon-help-black-image: '../img/sprite-menu.png';
$icon-help-black: (0px, 120px, 0px, -120px, 20px, 20px, 21px, 284px, '../img/sprite-menu.png', 'icon-help-black', );
$icon-help-white-name: 'icon-help-white';
$icon-help-white-x: 0px;
$icon-help-white-y: 140px;
$icon-help-white-offset-x: 0px;
$icon-help-white-offset-y: -140px;
$icon-help-white-width: 20px;
$icon-help-white-height: 20px;
$icon-help-white-total-width: 21px;
$icon-help-white-total-height: 284px;
$icon-help-white-image: '../img/sprite-menu.png';
$icon-help-white: (0px, 140px, 0px, -140px, 20px, 20px, 21px, 284px, '../img/sprite-menu.png', 'icon-help-white', );
$icon-menu-black-name: 'icon-menu-black';
$icon-menu-black-x: 0px;
$icon-menu-black-y: 24px;
$icon-menu-black-offset-x: 0px;
$icon-menu-black-offset-y: -24px;
$icon-menu-black-width: 17px;
$icon-menu-black-height: 14px;
$icon-menu-black-total-width: 21px;
$icon-menu-black-total-height: 284px;
$icon-menu-black-image: '../img/sprite-menu.png';
$icon-menu-black: (0px, 24px, 0px, -24px, 17px, 14px, 21px, 284px, '../img/sprite-menu.png', 'icon-menu-black', );
$icon-menu-white-name: 'icon-menu-white';
$icon-menu-white-x: 0px;
$icon-menu-white-y: 38px;
$icon-menu-white-offset-x: 0px;
$icon-menu-white-offset-y: -38px;
$icon-menu-white-width: 17px;
$icon-menu-white-height: 14px;
$icon-menu-white-total-width: 21px;
$icon-menu-white-total-height: 284px;
$icon-menu-white-image: '../img/sprite-menu.png';
$icon-menu-white: (0px, 38px, 0px, -38px, 17px, 14px, 21px, 284px, '../img/sprite-menu.png', 'icon-menu-white', );
$icon-news-black-name: 'icon-news-black';
$icon-news-black-x: 0px;
$icon-news-black-y: 101px;
$icon-news-black-offset-x: 0px;
$icon-news-black-offset-y: -101px;
$icon-news-black-width: 20px;
$icon-news-black-height: 19px;
$icon-news-black-total-width: 21px;
$icon-news-black-total-height: 284px;
$icon-news-black-image: '../img/sprite-menu.png';
$icon-news-black: (0px, 101px, 0px, -101px, 20px, 19px, 21px, 284px, '../img/sprite-menu.png', 'icon-news-black', );
$icon-news-white-name: 'icon-news-white';
$icon-news-white-x: 0px;
$icon-news-white-y: 82px;
$icon-news-white-offset-x: 0px;
$icon-news-white-offset-y: -82px;
$icon-news-white-width: 20px;
$icon-news-white-height: 19px;
$icon-news-white-total-width: 21px;
$icon-news-white-total-height: 284px;
$icon-news-white-image: '../img/sprite-menu.png';
$icon-news-white: (0px, 82px, 0px, -82px, 20px, 19px, 21px, 284px, '../img/sprite-menu.png', 'icon-news-white', );
$icon-recom-black-name: 'icon-recom-black';
$icon-recom-black-x: 0px;
$icon-recom-black-y: 242px;
$icon-recom-black-offset-x: 0px;
$icon-recom-black-offset-y: -242px;
$icon-recom-black-width: 21px;
$icon-recom-black-height: 21px;
$icon-recom-black-total-width: 21px;
$icon-recom-black-total-height: 284px;
$icon-recom-black-image: '../img/sprite-menu.png';
$icon-recom-black: (0px, 242px, 0px, -242px, 21px, 21px, 21px, 284px, '../img/sprite-menu.png', 'icon-recom-black', );
$icon-recom-white-name: 'icon-recom-white';
$icon-recom-white-x: 0px;
$icon-recom-white-y: 263px;
$icon-recom-white-offset-x: 0px;
$icon-recom-white-offset-y: -263px;
$icon-recom-white-width: 21px;
$icon-recom-white-height: 21px;
$icon-recom-white-total-width: 21px;
$icon-recom-white-total-height: 284px;
$icon-recom-white-image: '../img/sprite-menu.png';
$icon-recom-white: (0px, 263px, 0px, -263px, 21px, 21px, 21px, 284px, '../img/sprite-menu.png', 'icon-recom-white', );
$spritesheet-width: 21px;
$spritesheet-height: 284px;
$spritesheet-image: '../img/sprite-menu.png';
$spritesheet-sprites: ($icon-about-black, $icon-about-white, $icon-arrow-black, $icon-arrow-white, $icon-catalog-black, $icon-catalog-white, $icon-company-black, $icon-company-white, $icon-help-black, $icon-help-white, $icon-menu-black, $icon-menu-white, $icon-news-black, $icon-news-white, $icon-recom-black, $icon-recom-white, );
$spritesheet: (21px, 284px, '../img/sprite-menu.png', $spritesheet-sprites, );


@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}


@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
