//----------------------------------------------------//
// VAVIABLES                                          //
//----------------------------------------------------//
// Fonts
//----------------------------------------------------//
$helvetica: 'helveticaneuecyr', 'arial', sans-serif;

$helvetica-b: 'helveticaneuecyr-bold', 'arial', sans-serif;

$helvetica-l: 'helveticaneuecyr-light', 'arial', sans-serif;

$helvetica-t: 'helveticaneuecyr-thin', 'arial', sans-serif;

// Font Size
//----------------------------------------------------//
$xlg_fs: 45px;
$lg_fs: 30px;
$xmd_fs: 18px;
$md_fs: 15px;
$sm_fs: 11px;


// Color
//----------------------------------------------------//
$main_color: #000;
$red_color: #d4412d;
$light_red_color: #f15d4a;
$dark_red_color: #ac2817;
$grey_color: #e0e0e0;
$light_grey_color: #f3f3f3;
$dark_grey_color: #9d9d9d;







// Backgrounds
//----------------------------------------------------//
$main_bg: #fff;
$grey_bg: #f8f8f8;
$dark_grey_bg: #272727;
$orange_bg: #ff9900;




// Borders
//----------------------------------------------------//
$grey_border: #3b3b3b;
$second_grey_border: #e7e7e7;
$orange_border: #f68b22;
















